<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movieflix</title>
</head>

<body>
    <form method="POST" action="/myForm">
        <input type="textBox" name="Movielist"><br><br>
        <input type="submit" value="Submit">
      </form>
</body>

</html>